body {
    font  : 1.3rem sans-serif;
    padding : 0.5em;
    margin  : 0;
    background : #222;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position : relative;
    width  : 740px;
    height : 498px;
    margin : 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background : #FFF url(Image/background.jpeg);
}

h1 {
    font : 1em "typewriter", monospace;
    align-self : end;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 1.5em; 
}

.one {
    grid-column: 2;
    grid-row: 6 / 13;
    text-align: center;
}    

.two {
    width: 90%;
    grid-column: 2;
    grid-row: 7 / 13;
    margin: 25px 70px 0px;
}

.three {
    grid-column: 2;
    grid-row: 9 / 13;
    margin: 0px 80px 20px;
}

.four {
    width: 90%;
    grid-column: 2;
    grid-row: 10 / 13;
    margin: 10px 70px 0px;
}

.five {
    grid-column: 1;
    grid-row: 9 / 13;
}

.six {
    grid-column: 1;
    grid-row: 10 / 13;
    margin: 10px 0px 0px;
}

input {
    width: 80%;
    background-color:rgba(231, 230, 230, 0.568);
    border-radius: 4px;

}